@import url(https://fonts.googleapis.com/css?family=Nunito:400,300);
body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 16px; }

.container {
  width: 100%;
  text-align: center; }

.z-depth-3 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3); }

.z-depth-4 {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3); }

header {
  width: 100%;
  padding: 0;
  border-bottom: 1px solid #e0e2e2;
  margin-bottom: 40px; }
  header .user {
    display: inline-block; }
  header .userName, header .userName--blue, header .userName--orange, header .userName--red, header .userName--green, header .userName--darkblue, header .userName--pink {
    display: inline-block; }
    header .userName--blue {
      color: #28cbc7; }
    header .userName--orange {
      color: #EF6F6C; }
    header .userName--red {
      color: #E84855; }
    header .userName--green {
      color: #28cb75; }
    header .userName--darkblue {
      color: #288feb; }
    header .userName--pink {
      color: #db4b97; }
  header .right {
    position: absolute;
    left: 5%; }
  header nav ul {
    text-align: center; }
    header nav ul li {
      display: inline;
      margin-right: 60px; }
      header nav ul li a {
        color: #333;
        text-decoration: none; }
        header nav ul li a:hover {
          color: #288feb;
          text-decoration: underline; }

.photogrid h1 {
  color: #288feb; }
.photogrid .ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0); }
.photogrid .ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .5s, opacity 1s; }
.photogrid .ripple:active:after {
  transform: scale(0, 0);
  opacity: .2;
  transition: 0s; }

.photo {
  padding: 0 10% 0 10%;
  text-align: center;
  margin-bottom: 10%;
  /*=============================================
CARDS STYLES
=============================================*/ }
  .photo h1 {
    color: #28cb75; }
  .photo * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700; }
  .photo .row {
    width: 100%;
    justify-content: flex-start;
    display: flex;
    flex-flow: row wrap; }
  .photo .item, .photo .item--blue, .photo .item--orange, .photo .item--red, .photo .item--green, .photo .item--darkblue, .photo .item--pink {
    width: 100%;
    height: auto;
    border-radius: 3px;
    padding: 2em;
    overflow: hidden;
    position: relative;
    flex: auto; }
    .photo .item--blue {
      background: #28cbc7; }
    .photo .item--orange {
      background: #EF6F6C; }
    .photo .item--red {
      background: #E84855; }
    .photo .item--green {
      background: #28cb75; }
    .photo .item--darkblue {
      background: #288feb; }
    .photo .item--pink {
      background: #db4b97; }
    .photo .item img, .photo .item--blue img, .photo .item--orange img, .photo .item--red img, .photo .item--green img, .photo .item--darkblue img, .photo .item--pink img {
      max-width: 100%;
      height: auto !important;
      text-align: center; }
    .photo .item_inner {
      display: flex;
      align-items: center;
      flex-flow: column wrap; }
      .photo .item_inner h1 {
        color: rgba(255, 255, 255, 0.9);
        padding-top: 5%; }
      .photo .item_inner p {
        color: rgba(255, 255, 255, 0.9);
        padding-bottom: 5%; }
      .photo .item_inner .button {
        border: 1px solid rgba(255, 255, 255, 0.5);
        color: #FFF;
        border-radius: 3px;
        padding: 1em 3em;
        margin: 1em 0 0 0;
        background: none;
        cursor: pointer;
        transition: background ease-in .25s; }
        .photo .item_inner .button:hover {
          background: white;
          color: #2B2D42; }
        .photo .item_inner .button:hover:before {
          color: #2B2D42; }
    .photo .item_overlay {
      background: rgba(255, 255, 255, 0.9);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      transform: translateY(-500px);
      opacity: 0;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center; }
      .photo .item_overlay h2 {
        color: rgba(43, 45, 66, 0.7);
        font-size: 1.2em;
        margin: 1em 0; }
      .photo .item_overlay i {
        color: rgba(43, 45, 66, 0.7);
        font-size: 1.5em; }

.photoinfo {
  padding: 0 10% 0 10%;
  text-align: center; }
  .photoinfo h1 {
    color: #28cb75; }
  .photoinfo a {
    color: inherit;
    text-decoration: none; }
  .photoinfo .divider {
    border-top: 5px solid #8c8b8b; }
  .photoinfo .flex-container {
    display: flex;
    min-height: 100vh; }
  @media screen and (max-width: 600px) {
    .photoinfo .flex-container {
      flex-wrap: wrap; } }
  .photoinfo .flex {
    width: 50%;
    margin: 1em; }
  .photoinfo .banner {
    display: flex; }
  .photoinfo .bannerinfo {
    flex-wrap: wrap;
    text-align: left; }

.profile {
  /*=============================================
CARDS STYLES
=============================================*/ }
  .profile h1 {
    color: #288feb; }
  .profile h2 {
    color: #28cb75; }
  .profile .banner {
    display: flex; }
  .profile .bannerinfo {
    flex-wrap: wrap;
    text-align: center; }
  .profile .flex-container {
    display: flex;
    min-height: 100vh; }
  @media screen and (max-width: 600px) {
    .profile .flex-container {
      flex-wrap: wrap; } }
  .profile .flex {
    width: 50%;
    margin: 1em; }
  .profile img {
    border-radius: 5%;
    margin-bottom: 10%; }
  .profile .row {
    width: 100%;
    justify-content: flex-start;
    display: flex;
    flex-flow: row wrap; }
  .profile .item, .profile .item--blue, .profile .item--orange, .profile .item--red, .profile .item--green, .profile .item--darkblue, .profile .item--pink {
    max-width: 15em;
    height: 100%;
    border-radius: 3px;
    padding: 2em;
    overflow: hidden;
    position: relative;
    flex: auto; }
    .profile .item--blue {
      background: #28cbc7; }
    .profile .item--orange {
      background: #EF6F6C; }
    .profile .item--red {
      background: #E84855; }
    .profile .item--green {
      background: #28cb75; }
    .profile .item--darkblue {
      background: #288feb; }
    .profile .item--pink {
      background: #db4b97; }
    .profile .item img, .profile .item--blue img, .profile .item--orange img, .profile .item--red img, .profile .item--green img, .profile .item--darkblue img, .profile .item--pink img {
      max-width: 100%;
      height: auto !important;
      text-align: center; }
    .profile .item_inner {
      display: flex;
      align-items: center;
      flex-flow: column wrap; }
      .profile .item_inner p {
        color: rgba(255, 255, 255, 0.9); }
      .profile .item_inner .button {
        border: 1px solid rgba(255, 255, 255, 0.5);
        color: #FFF;
        border-radius: 3px;
        padding: 1em 3em;
        margin: 1em 0 0 0;
        background: none;
        cursor: pointer;
        transition: background ease-in .25s; }
        .profile .item_inner .button:hover {
          background: white;
          color: #2B2D42; }
        .profile .item_inner .button:hover:before {
          color: #2B2D42; }
    .profile .item_overlay {
      background: rgba(255, 255, 255, 0.9);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      transform: translateY(-500px);
      opacity: 0;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center; }
      .profile .item_overlay h2 {
        color: rgba(43, 45, 66, 0.7);
        font-size: 1.2em;
        margin: 1em 0; }
      .profile .item_overlay i {
        color: rgba(43, 45, 66, 0.7);
        font-size: 1.5em; }

/*# sourceMappingURL=bundle.css.map */
